WCF/AutoLot/AutoLotWebService_Client/Connected Services/AutoLotService/AutoLotService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52825/AutoLotService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AutoLotService" />
  <xs:element name="InsertCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="make" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="color" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="petname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCarWithDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AutoLotService" minOccurs="0" name="car" nillable="true" type="q1:InventoryRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCarWithDetailsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInventory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInventoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AutoLotService" minOccurs="0" name="GetInventoryResult" nillable="true" type="q2:ArrayOfInventoryRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>